[Unit]
Description=Schedule Full CI reconciliation in Pacific time

[Timer]
OnBootSec=2min
OnCalendar=*-*-* 05:00:00 America/Los_Angeles
OnCalendar=*-*-* 19:00:00 America/Los_Angeles
Persistent=true
AccuracySec=1min
RandomizedDelaySec=0
Unit=alerting-full-ci.service

[Install]
WantedBy=timers.target
